.tag {
    display: block;
    border: 2px solid #ffc800;
    padding: 0px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    float:left;
}