
  @font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans.woff") format("woff"),
    url("../../fonts/GillSans.otf") format("opentype"),
}
.linkedin {
    float:left;
    width: 250px;
}
.esquerda {
    width:calc(100% - 545px);
    float:left;
    max-height: 100px;
}
.esquerda > .active {
    border-bottom: 1px solid #333;
}
.textobox {
    width: 95%;
    height: 300px;
    border:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 22px;
    padding-right: 15px;
    font-size: 15px;
    color: #3b3b3b;

}