.curriculumVitae {

    position: fixed;
    z-index: 999999;
    left:20px;
    right: 20px;
    top:20px;
    padding:20px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    width:calc(100% - 80px);
    height: 100vh;
    overflow:auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Header {
    width: 100%;
    height:120px;
    border-bottom: 3px solid #ebebeb;
}
.HeaderEsq {
    float: left;
    width: 85%;
}
.HeaderDir {
    float:right;
    width:15%;
    text-align: right;
}
.Corpo {
    display:block;
    color: #747474;
}
.impressora {
    width:32px;
    height: auto;
    cursor: pointer;
}
.sessao {
    width: calc(100vw - 40px);
    color: #747474;
    display: block;
    overflow:auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}
.Corpo h2 {
    font-weight: lighter;
    text-align: center;
}
.sessao h2, h3 {
    font-weight: lighter;
}
.sessaoInt {
    width:50%;
    float:left;
}
.sessaoPeqEsq {
    width:15%;
    float:left;
    height: 50px;
}
.sessaoPeqDir {
    width:85%;
    float:left;
    height: 50px;
}
.textoLaranja {
    color: #ff9c00;
    background-color: #ffffff;
}
.barraFundo {
    background-color: #ebebeb;
    width:300px;
    height:10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ff9c00;
}
.xlaranja {
    width: 100%;
    height: 10px;
    float:left;
}
.barraFrente {
    background-color: #747474;
    height: 10px;
    width:10px;
}
.naoimprimir {
    position: absolute;
    z-index: 999999999;
    right: 70px;
    top:8px;
}
.naoeditar {
    position: absolute;
    z-index: 999999999;
    right: 120px;
    top:8px;
}
.naoimpprimirvolta {

    position: absolute;
    z-index: 999999999;
    right: 15px;
    top:8px;
    border: none;
    background: none;
    cursor: pointer;
}
.Utils {
    position:fixed;
    z-index: 9999999;
    height: 50px;
    width: 245px;
    background:#333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    right:0px;
    top:0px;
    border-bottom: 10px solid #ff8c00;
    padding-top: 20px;
    padding-left: 20px;


}
.imagens {
    width: 30px;
    height: auto;
    cursor:pointer;
}