@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans.woff") format("woff"),
    url("../../fonts/GillSans.otf") format("opentype"),
}

.whatsapp {
    display: block;
    position: absolute;
    z-index: 99999999;
    left: calc(30vw - 165px);
    top: 100px;
    background-image: url('../../assets/whatsBg.png');
    background-color: #333333;
    width: 330px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.tooltip {
    position: absolute;
    z-index:2;
    background-color:#ff8a00;
    color: #ffffff;
    border-radius: 20px;
    padding:5px 6px;
    font-size: 11px;
    width:6px;
    height: 6px;
    line-height: 7px;
    margin-left: 24px;
}
.barraTop {
    width: 100%;
    height:28px;
    background-color: #ff8a00;
}
.barraTopEsq {
    float:left;
    padding:6px 8px;
    width: 20px;
}
.barraTopCentro {
    float:left;
    padding:8px 8px;
    width: calc(100% - 88px);
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.barraTopDir {
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    padding:6px 8px;
    width:20px;
    display: flex;
    justify-content: right;
}
.WhatsContent {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
}
.barraBaixo {
    display: flex;
    background-color: #292929;
    width: calc(100% - 20px);
    border-top: 1px solid #333333;
    padding:10px;
}
.barraBaixoEsq {
    width:calc(100% - 55px);
    height:35px;
    margin-right: 10px;
    background-color:#0000003d;
    float: left;
}
.barraBaixoDir {
    width:35px;
    height:35px;
    margin-right:10px;
    float: left;
}
.whatsInput {
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    width: 230px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Bloco {
    display: flex;
    width: calc(100% - 20px);
    border-top: 1px solid #333333;
    padding:10px;
    flex-direction: column;
}
.eu {
    width: calc(100% - 60px);
    background-color:#0000009c;
    border: 3px solid #ff8a00;
    padding:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}
.euSeta {
    width: 100%;
    margin-left: 20px;
    margin-top: -7px;
}
.tu {
    width: calc(100% - 60px);
    background-color:#0000009c;
    border: 3px solid #d3ff00;
    padding:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    display:flex;
    align-self: end;
}
.tuSeta {
    width: 100%;
    margin-left: 270px;
    margin-top: -7px;
}