@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans.woff") format("woff"),
    url("../../fonts/GillSans.otf") format("opentype"),
}

.life {
    position:absolute;
    margin-left: 3px;
    margin-top: -84px;
    z-index: -1;
}.tijolo {
    position:absolute;
    margin-left: 290px;
    margin-top: 88px;
    z-index: -2;
}