.detalhe {

    width: calc(100% + 90px);
    height: 400px;
    position:absolute;
    z-index:999999999999;
    left: 0;
    top:0;
    background-color:#fff;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px, rgba(0, 0, 0, 0.1) 0px 18px 36px -12px;
    border-left: 9px solid #64008e;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding: 30px;
}
.detalheFechar {
    position:absolute;
    z-index: 9991;
    left: 100px;
    top: 100px;
    cursor:pointer;
    background-color: #fff;
    border: 0;
}