.Bloco {
    margin: 10px;
    padding:0px 10px 10px 10px ;
    border: 1px solid #ff9c00;
    background-color: bisque;
    width: 300px;
    float:left;
    font-size: 12px;
    position: absolute;
    z-index: 88;
  }
  .Titulo {
    color: #ff9c00;
    font-size: 15px;
    font-weight: bold;
  }
  