
.BoxProjeto {
  width: 270px;
  min-width: 270px;
  border-radius: 15px;
  margin: 13px;
  float: left;
}
.loguinhos {
  width: 55px;
  height:100vh;
  float: left;
}
#flex { 
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
  align-content: flex-start;
  max-width: calc(88vw);
  height:650px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#a { order: 2; }
#b { order: 1; }
#c { order: 3; }
#d { order: 4; }
#e { order: 5; }
#f { order: 6; }
#g { order: 7; }