.logoMenor1 {
    height: auto;
    position: absolute;
    z-index: -1;
    top:12px;
    right: 0;
}
.logomenorImg {
    width: 493px;
    height: auto;
}
.ponto {
    color: #ffffff;
    font-size: 35px;
}
.refresh {
    position: absolute;
    top:20px;
    left:20px;
    z-index: 99999;
    border: none;
    background: none;
    cursor: pointer;
}
