.logoMenor1 {
    width: 287px;
    height: auto;
    position: absolute;
    z-index: 9;
    top:25px;
    right: 25px;
} 
.titulo {
    position: absolute;
    z-index: 9;
    top:20px;
    left: 264px;
    font-size: 28px;
    letter-spacing: 2px;
}
.ponto {
    color: #ffffff;
    font-size: 35px;
}