.divprincipal {
    margin-top: 35vmin;
    float: left;
    margin-left: calc(50% - 220px);
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}
.logoDlaranja {
    width: 101;
    height:101;
}
.laranjaZindex {
    z-index: 999;
    position: absolute;
}