@media only screen and (max-width: 600px) {
    
.divprincipal {
    display:none;
}    
.logoMobile {
    display:block !important;
    margin-top: 200px;
    margin-left: -10px;
}
.logoMenor1 {
    right: calc(50% - 160px);
}

.logomenorImg {
    width: 370px !important;
    height: auto;
}
.headerBarra {
    display: none !important;
}
.Barra {
    top: 15px !important;
    width: 58px !important;
}
.botao {
    margin-left: 4px !important;
    margin-right: 4px !important;
}
.titulo, .sombra {
    left: 60px !important;
}
.titulo {
    padding: 45px 3px 0px 0px !important;
    font-size: 13px !important;
}

.textocolunas {
    column-count: 1 !important;
    column-gap: 0px;
}
.aspasimg {
    width: 25px !important;
    height: auto;
}
.legenda {
    display:none;
}
.brancoGeral {
    width: 230px !important;
    padding: 0 !important;
    height: auto !important;
    left: 90px;
}
#flex {
    flex-wrap:nowrap !important;
}
.loguinhos {
    display: none;
}
.detalheContent {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    width: 350px !important;
    margin-top: 60px;
}
.detalhe {
    left: -100px !important;
    top:-110px !important;
    width:400px !important;
    height: auto !important;
}
.detalheFechar {
    top:38px !important;
    left:10px !important;
}
.BoxProjeto {
    width: 200px !important;
    min-width: 200px !;
}
.whatsapp {
    
    left: 55px !important;
    top: 30px !important;
}
  }